<a href="https://colab.research.google.com/github/Swarnlataaa/Fall-sem/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print("Type of a:",type(a))

Type of a: <class 'int'>

In [ ]:
b=5.0
print("\nType of b:",type(b))

Type of b: <class 'float'>

In [ ]:
c=2+4j
print("\nType of c:", type(c))

Type of c: <class 'complex'>

Creating a string

In [ ]:
String1 ='Welcome to VIT'
print("\nString with the use of single Quotes")
print(String1)

Creating a string with the use of double quotes

In [ ]:
String1 ="I am at VIT"
print("\nString with the use of Double Quotes:")
print(String1)
print(type(String1))

In [ ]:
str1 ='Hello world'
str2='how are you'
print(str1[0:2]) #printing first two characters using slice operator
print(str1[4]) #printing 5th character of the string
print(str1*2) #printing the string twice
print(str1 +str2)#printing the concatenation of string 1 and 2

# **List** is an ordered sequence of items,
most used data-type in python and is very flexible, all items in the list do not need to be the same type ,
declaring the list is simple items seperated by commas are enclosed within brackets [].

In [ ]:
a =[5,10,15,20,25,30,35,40]
print("a[2] =",a[2])
print("a[0:3]=", a[0:3])
print("a[5:] =", a[5:])

a[2] = 15
a[0:3]= [5, 10, 15]
a[5:] = [30, 35, 40]

# **`Tuple `
 is an ordered sequence of items same as list.** The only difference is *tuple is immutable*, once created cannot be modified.

Tuple are used to write protect data,and is *faster than lists as cannot change dynamically.*

In [ ]:
t =(5,'program',1+3j)
print("t[1]", t[1])
print("t[0:3",t[0:3])

#try doing t[0]=10 it will show error tuples are immutable

## Boolean

In [ ]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

##Sets

In [ ]:
Months =set(["January","Feb","March","April","May","June",])
print("\nprinting the original set...")
print(Months)
print("\nAdding other months to the set...");
Months.add("August"); #why will it add august in the second
print("\nPrinting the modified set...");
print(Months)

printing the original set...
{'Feb', 'April', 'March', 'May', 'June', 'January'}

Adding other months to the set...

Printing the modified set...
{'Feb', 'August', 'April', 'March', 'May', 'June', 'January'}

In [ ]:
Months =set(["January","Febuary","March","April","May","June",])
print("\nprinting the original set..")
print(Months)
print("\nupdating set")
Months.update(["July","August","September","October"]); #why still upadting at the second number and october is at the last
print("\nprinting the modified set...")
print(Months);

printing the original set..
{'Febuary', 'April', 'March', 'May', 'June', 'January'}

printing the updated set

printing the modified set...
{'Febuary', 'July', 'August', 'September', 'April', 'March', 'May', 'June', 'January', 'October'}

In [ ]:
months= set(["January","Feb","march","april","may","june"])
print("\nprinting the original set...")
print(months)
print("\nremoving some months from the set... ");
months.discard("January");
months.discard("May");
print("\nPrinting the modified set...");
print(months)

#removing the items from the months
months.clear()
print("\nremoving all items from the set...")

printing the original set...
{'may', 'Feb', 'march', 'april', 'june', 'January'}

removing some months from the set...

Printing the modified set...
{'may', 'Feb', 'march', 'april', 'june'}

## Union

In [ ]:
Days1 ={"Monday","Tuesday","Wednesday","Thursday"}
Days2 ={"Friday","Saturday","Sunday"}
print(Days1.union(Days2)) #printing the union of the sets

{'Thursday', 'Sunday', 'Wednesday', 'Monday', 'Friday', 'Tuesday', 'Saturday'}

## Intersection

In [ ]:
set1={"Devansh","John","David","Martin"}
set2={"Steve","Milan","David","Martin"}
print(set1.intersection(Set2))

##Difference

In [ ]:
Days1 ={"Monday","Tuesday","Wednesday","Thursday"}
Days2 ={"Monday","Tuesday","Sunday"}
print(Days1.difference(Days2))

##Symmetric diffrence of two sets

In [ ]:
a={1,2,3,4,5,6}
b={1,2,8,9,10}
c=a.symmetric_difference(b)
print(c)

List : collection which is ordered and changeable
Tuple : collection which is ordered and unchangeable
Set: is a collection of unordered ,unindexed,unchangable no duplicate member
Dictonary is a collection which is ordered and changeable no duplicate members